<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{{ title }}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/assets/css/style.css">

</head>

<header id="main-header" height="500px">
  {{!-- <div class="logo_container" width="700px" height="469px">
    <span class="logo-helper"></span> --}}
  <a href="./"><img src="/public/assets/img/landscaping.jpg" alt="Soiled Logo" width="700px" height="469px"></a>
  {{!-- </div> --}}
</header>

<body>
  {{> nav}}
  {{{ body }}}
  {{> footer_scripts}}
  {{> footer}}
</body>

</html>