#main-header {
  display: block;
  text-align: center;
  background-color: green;
  height: 150px;
  margin-bottom: 5px;
}

img {
  height: 150px;
  margin: 0px;
}

.navbar {
  height: 100px;
}

.navbar-header {
  float: left;
}

.text-center {
  float: right;
}

.icon-bar {
  list-style: none;
  float: left;
  margin-left: 50px;
}

.fa {
  font-size: 30px;
  padding: 10px;
  margin-top: 0px;
}

#registerBtn, #loginBtn {
  display: block;
  color: blue;
  padding: 10px 10px;
}

.body {
  margin-top: 30px;
  padding: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
}

