#main-header {
  background-image: url(/public/assets/img/landscaping.jpg);
  background-size: 100%;
  height: 150px;
  /* margin-bottom: 5px; */
}

.bgimg {
  background-image: url(/public/assets/img/desert-sand.jpg);
  background-size: cover;
  /* transform: scaleX(-1); */
  height: 65vh;
}

h1,
h2 {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  color: antiquewhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.navbar {
  height: 60px;
  background-color: #6d4c41;
  box-shadow: 0 10px 6px -6px #777;
}

.navbar-header {
  float: left;
}

.text-center {
  float: right;
}

.icon-bar {
  list-style: none;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.fa {
  font-size: 25px;
  padding: 10px;
  margin-top: 0px;
}

#registerBtn,
#loginBtn {
  display: block;
  color: antiquewhite;
  padding: 10px 10px;
  background-color: #08f;
}

.body {
  margin-top: 30px;
  padding: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: antiquewhite;
  background-color: grey;
}

#products {
  margin-top: 10px;
}

.card-img-top {
  height: 155px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.policy {
  color: antiquewhite;
}

.price {
  text-align: center;
  /* padding: 5px; */
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #e15b46;
  margin-bottom: 5px;
}

.footer-text {
  margin-top: 12px;
}